@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  background-color: #f0ebe5;
  color: #372316;
  font-family: 'Roboto Slab', serif;
}

.text-color{
  color: #372316;
}

.btn{
    border: 0.1rem solid #372316;
    padding: 0.5rem 1rem;
    box-sizing: border-box;
    align-self: auto;
}

.btn:hover{
    background-color: #372316;
    color: #ece6df;
}

.nav-link{
    align-self: flex-start;
}

.nav-link:hover{
    border-bottom: 0.2rem solid #372316;
}

.custom-height{
    height: 28rem;
    object-fit: cover;
}

.ad-bg{
    background-color: #ece6df;
}

.logo-img{
    filter: brightness(0);
    opacity: 50%;
}

.featured-text {
    opacity: 70%;
}

@media only screen and (max-width: 600px) {
    .logo-img{
        object-fit: contain;
    }
}